:root {
    --dark: darkslategrey;
    --secondaryDark: slategrey; 
    --highlight: orange;
    --light: white;
    --normal: black;
    --spaceBetween: 2pt;
    --headerSpacing: 2.5%;
}



/* Header Styling */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--spaceBetween);
    font-family: 'Ultra', serif;
    font-weight: 20;
    background-color: var(--dark);

}

header div img {
    /* profile picture style */
    height: 25vh;
    width: 100%;
    border-radius: 100%;
    padding: 10pt;
}

.intro {
    /* this moves the intro statement up and down
    independent of the nav bar and pic*/
    display: flex;
    flex-direction: column;
    padding-top: 1.5vh;
    padding: 10pt;
    margin-right: 5%;
}

header h1 {
    font-size: 80px;
    color: var(--highlight);
    margin-top: var(--headerSpacing);
    margin-bottom: var(--headerSpacing);
}

header h2 {
    color: var(--light);
    font-size: 25px;
}

header ul {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
    margin-left: 0%;
}

header ul li {
    color: var(--light);
    margin: 2%;
}

/* makes sure the header stacks correctly below 800px */
@media screen and (max-width: 830px) {
    /* centers header full screen for smaller screens */

    header {
        width: 100vw; 
        padding: 0pt;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Ultra', serif;
        background-color: var(--dark);
        color: var(--highlight);
    
    }

    header div img {
        /* profile picture style */
        height: 30vh;
        width: 100%;
        border-radius: 100%;
        padding: 10pt;
    }

    header h1 {
        font-size: 30px;
        color: var(--highlight);
        margin-top: var(--headerSpacing);
        margin-bottom: var(--headerSpacing);
    }
    
    header h2 {
        color: var(--light);
        font-size: 18px;
    }

    header ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        list-style-type: none;
        margin-left: 0%;
        margin-right: 0%;
        padding-left: 0%;
        padding-right: 0%;
    }
    
    header ul li {
        color: var(--light);
        float: right;
        margin: 0%;
    }

    .intro {
            margin-bottom: 10%;
            margin-left: 0%;
            margin-right: 0%;
            margin-top: 5%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
    