:root {
    --dark: darkslategrey;
    --secondaryDark: slategrey; 
    --highlight: orange;
    --light: white;
    --normal: black;
    --spaceBetween: 2pt;
    --headerSpacing: 2.5%;
}


/* Overall Style */


/* Header Styling */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--spaceBetween);
    font-family: 'Ultra', serif;
    font-weight: 20;
    background-color: var(--dark);

}

header div img {
    /* profile picture style */
    height: 20vh;
    width: 100%;
    border-radius: 100%;
    padding: 10pt;
}

.intro {
    /* this moves the intro statement up and down
    independent of the nav bar and pic*/
    display: flex;
    flex-direction: column;
    padding-top: 1.5vh;
    padding: 10pt;
    margin-right: 10%;
}

header h1 {
    font-size: 80px;
    color: var(--highlight);
    margin-top: var(--headerSpacing);
    margin-bottom: var(--headerSpacing);
}

header h2 {
    color: var(--light);
    font-size: 20px;
}

nav {
    font-family: 'Ultra', serif;
    font-size: 25px;
    border-top: 0;
    margin-top: 0;
    padding-top: 0%;
    padding-left: 0%;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
    padding-bottom: 80pt;
}

header nav ul li {
    color: var(--light);
    padding: 40pt;
    float: right;
}

nav a {
    color: var(--light);
    text-decoration: none;
  }


/* makes sure the header stacks correctly below 700px */
@media screen and (max-width: 700px) {
    /* centers header full screen for smaller screens */
    header {
        width: 100vw; 
        padding: 10pt;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: var(--spaceBetween);
        font-family: 'Ultra', serif;
        background-color: var(--dark);
        color: var(--highlight);
    
    }

    header h1 {
        font-size: 25px;
        color: var(--highlight);
        margin-top: var(--headerSpacing);
        margin-bottom: var(--headerSpacing);
    }
    
    header h2 {
        color: var(--light);
        font-size: 12px;
    }
    
    nav {
        font-family: 'Ultra', serif;
        font-size: 12px;
        border-top: 0;
        margin-top: 0;
        padding-top: 0%;
        padding-left: 0%;
    }

    header nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        list-style-type: none;
        padding-bottom: 80pt;
    }
    
    header nav ul li {
        color: var(--light);
        padding: 10pt;
        float: right;
    }

    header div img {
        /* profile picture style */
        padding: 10px;
        /* border-radius: 100%; */
    }

    .intro {
            font-size: 10;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
    
    nav {
        /* this is distance from intro element */
        border-top: 0;
        margin-top: 0;
        padding-top: 50%;
    }


/* About Section styling */

#about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'Ultra', serif;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: var(--spaceBetween);
    width: 100%;
    height: 10vh;
    /* background-image: url("./Banner.png"); */
    background-color: var(--secondaryDark);

}

#about h2 {
    padding: 10px;
    text-align: center;
    color: var(--highlight)
}

#about ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding: 1.5vh;
}

#about ul li{
    margin-left: 10px; 
    margin-right: 10px;
    color: var(--normal);
}


/* makes sure the about me section displays in a centered collumn */
@media screen and (max-width: 700px) {

    #about {
        font-size: 7px;
        display: flex;
        flex-direction: column;
        /* background-image: url("./Banner.png"); */
    }

    #about h2 {
        display: flex;
        flex-direction: column;
        font-size: small;
        text-align: center;
        color: var(--highlight)
    }
    
    #about ul {
        font-size: small;
        /* display: flex;
        flex-direction: column;
        flex-wrap: wrap; */
        list-style: none;
        padding: 1.5vh;
    }
    
    /* #about ul li{
        margin-left: 10px; 
        margin-right: 10px;
        color: var(--normal);
    } */
}

/* end about section styling */


/* Portfolio Styling */


#portfolio {
    display: flex;
    padding: 10pt;
    background-color: var(--dark);
    font-family: 'Times New Roman', Times, serif;
}

#portfolio h2 {
    font-family: 'Ultra', serif;
    font-size: 20px;
    font-weight: 20;
    width: 20%;
    border-width: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px;
    border-style: solid;
    border-color: var(--highlight);
    background-color: var(--dark);
    color: var(--light);
}

#portfolio h3 {
    font-family: 'Ultra', serif;
    vertical-align: top;
    font-size: 15px;
    font-weight: 1;
    width: 120%;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px;
    border-style: solid;
    border-color: var(--highlight);
    background-color: var(--dark);
    color: var(--light);
}


#portfolio ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    justify-content: space-evenly;
}

/* below are the styling elements inside of a portfolio card
turn on border styles to see the groupings */
#portfolio ul li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border-style: solid; */
}

.portfolioWordSplash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
    /* border-style: dashed; */
    width: 35%;
}

.imagePlacement {
    float: right;
    justify-content: center;
    align-items: center;
    /* border-style: dashed; */
    /* border-color: bisque; */
    object-fit: contain;
    height: 80%;
    width: 60%;
}

.imagePlacement img {
    object-fit: contain;
    width: 100%;
    float: right;
}
/* end where manipulate inside of each project */

.portfolio-card {
    display: flex;
    flex-direction: row;
    width: 20vw;
    margin-bottom: 3%;
    /* margin-block-end:3%; */
    padding: 10px;
    background-color: var(--secondaryDark);
}

.portfolio-card h3 {
    text-align: center;
    color: var(--light);
    background-color: var(--dark);
}

.portfolio-card p {
    text-align: center;
    margin: auto;
    color: var(--light);
}

/* makes first project the largest */
#first-project {
    width: 83vw;
    /* background-image: url('/Assets/placeholder.jpg'); */
}



/* Change Portfolio style when smaller than 700px */

@media screen and (max-width: 700px) {

    /* this breaks the minimum width requirements of
    the cards and centers the entire portfolio section 
    into a column */
    
    #portfolio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10%;
        background-color: var(--dark);
        font-family: 'Times New Roman', Times, serif;
        /* border-style: solid; */
    }

    #portfolio h2 {
        width: 100%;
        border-width: 5px;
        border: 5px;
        text-align: center;
        border-style: solid;
        border-color: var(--highlight);
        background-color: var(--dark);
        color: var(--light);
    }
    
    #portfolio ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        /* border-style: solid; */
    }

    .portfolio-card {
        /* margin-block-end:3%; */
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-shrink: 1;
        min-width: 100vw;
        min-height: 100%;
        padding: auto;
        background-color: var(--secondaryDark);
    }


    #first-project {
        width: auto;
    }
}
/* footer style */


footer ul {
    font-family: 'Ultra', serif;
    font-weight: lighter;
    font-size: 20;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    list-style-type: none;
    /* background-image: url("./Banner.png"); */
    color: var(--highlight);
}

footer ul li {
    padding: 1%;
    font-size: 20px;
}

@media screen and (max-width: 700px) {
    footer ul {
        font-family: 'Ultra', serif;
        font-weight: lighter;
        font-size: 5;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        list-style-type: none;
        /* background-image: url("./Banner.png"); */
        color: var(--highlight);
    }
    
    footer ul li {
        padding: 1%;
        font-size: 5px;
    }
    
}